*{
    padding: 0;
    margin: 0;
}
.container-sidebar{
    background-color: #151e2c;
}

.layout-container-direito{
    height: 45vw;
    width: 85vw;
    background-color: #e1dfdf;
    padding: 1vw;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.layout-boxs {
    background-color:white;
    padding: 2vw;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3); 
    width: 100%;
}